* {
	padding: 0;
	margin: 0;
}

body {
	min-width: 1440px;
    margin: 0 auto;
    font-family: 'Spartan', sans-serif;
}

button {
	/** resetting button font style */
	font: inherit;
}

/* HOME PAGE */

h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 1.125;
	letter-spacing: -0.8px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
	letter-spacing: -0.5px;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: -0.23px;
}

header.home {
	background-image: url(images/homepage/hero-bg-desktop@2x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header-content {
    margin-left: 167px;
    padding-top: 65px;
    color: #ffffff;
}

#logo {
    display: inline-block;
    padding-bottom: 153px;

}

#logo img {
    width: 103px;
    height: 40px;
    vertical-align: bottom;
}

.home h1 {
	width: 523px;
	padding-bottom: 24px;
}

.home h6 {
	width: 445px;
	padding-bottom: 42px;
}

.book {
	width: 245px;
	height: 64px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.143;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #111111;
	color: #ffffff;
	border: 1px solid #ffffff;
}

button.book.top {
    margin-bottom: 198px;
}

section.enjoy {
    position: relative;
    top: -70px;
}

img.top-right {
	position: absolute;
	top: 320px;
}

.enjoy-flex {
    display: flex;
    width: 1122px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

img.enjoypic {
	box-shadow: 0 75px 100px -50px #38435680;
	width: 540px;
	height: 720px;
}

.enjoy-text {
    width: 445px;
    margin-top: 55px;
    margin-right: 7px;
	color: #242B37;
}

.enjoy-text img {
    vertical-align: top;
}

.enjoy-text h2 {
	padding: 48px 0 16px;
}

section.local {
    position: relative;
    top: 55px;
}

.local-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1122px;
    margin: 0 auto;
}

.local-content {
    width: 445px;
    position: relative;
    top: -20px;
	color: #242B37;
}

.local-content img {
    vertical-align: top;
}

.local-content h2 {
	padding: 48px 0 16px;
}

img.localpic {
	box-shadow: 0 75px 100px -50px #38435680;
	display: inline-block;
	width: 540px;
    height: 720px;
    z-index: 1;
    flex-shrink: 0;
}

img.top-left {
	width: 907px;
	height: 320px;
	position: absolute;
	bottom: 80px;
	right: 0;
}

.lines {
	position: absolute;
	bottom: 362px;
    right: 51px;
    z-index: 1;
}

section.highlights {
	position: relative;
	top: -40px;
    background-color: #111111;
    color: #ffffff;
}

.highlights-flex {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1122px;
	height: 441px;
	padding: 200px 0 120px;
}

.flex-item-left {
	width: 445px;
}

.flex-item-left img {
    vertical-align: top;
}

.flex-item-left h2 {
	padding: 48px 0 16px;
}

.flex-item-right {
    display: flex;
    flex-direction: column;
	padding-top: 55px;
}

.flex-item-right img {
	display: inline-block;
	width: 128px;
	height: 96px;
	vertical-align: top;
}

img + hr {
	display: inline-block;
	width: 32px;
	vertical-align: top;
	margin-top: 18px;
	color: #9E7F66;
}

.text {
	display: inline-block;
    padding: 4px 0 0 30px;
}

.flex-item-right h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.556;
	letter-spacing: -0.23px;
	padding-bottom: 4px;
}

.flex-item-right p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.867;
	letter-spacing: -0.19px;
    width: 350px;
    padding-bottom: 32px;
}

.line {
    color: #ffffff26;
}

.right-nested {
    padding-top: 24px;
}

section.slider {
    margin-top: -40px;
    position: relative;
}

.slider-curve {
    position: relative;
    left: -350px;
    vertical-align: bottom;
}

.slider-lines {
    position: absolute;
    left: 125px;
    top: 122px;
    z-index: 1;
}

.slider-content {
    display: flex;
    width: 1122px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: -160px;
}

.gather {
    width: 540px;
    height: 600px;
    box-shadow: 0 75px 100px -50px #38435680;
}

.slider-text {
    display: inline-flex;
    flex-direction: column;
    width: 445px;
    color: #242B37;
    margin-left: 130px;
}

.slider-text h2 {
    padding: 63px 0 16px;
}

.slider-text h6 {
    padding-bottom: 32px;
}

.switch {
    display: grid;
    width: 313px;
    height: 108px;
    margin-top: 78px;
    grid-template-columns: 1fr 188px;
    position: relative;
    left: -130px;
}

.switch hr {
    width: 95px;
    color: #9E7F66;
    align-self: center;
    margin-bottom: 5px;
}

.switch p {
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 2px;
    color: #4C4C4C;
    text-transform: uppercase;
}

p.col-2 {
    grid-column-start: 2;
}

section.res-footer-wrap {
    background-image: url(images/homepage/ready-bg-desktop@2x.jpg);
	background-size: 100% 50%;
    background-repeat: no-repeat;
    height: 480px;
    color: #ffffff;
    background-color: #111111;
}

.res-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1122px;
    height: 240px;
}

button.book.bottom{
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 78px;
    width: 1122px;
    height: 240px;
    box-sizing: border-box;
}


footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer p.hours {
    width: 446px;
}

/* BOOKING - PAGE 2 */

header.booking {
    background-image: url(images/booking/hero-bg-desktop@2x.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.booking-content {
    display: flex;
    justify-content: space-between;
    width: 1122px;
    padding-top: 65px;
    margin: 0 auto;
}

.booking-text h1 {
    width: 419px;
    padding-bottom: 24px;
    color: #ffffff;
}

.booking-text h6 {
    width: 445px;
    color: #ffffff;
}

.booking-form {
    display: inline-block;
    box-sizing: border-box;
    width: 540px;
    height: 545px;
    padding: 48px;
    position: relative;
    top: 193px;
    box-shadow: 0 75px 100px -50px #38435680;
    background-color: #ffffff;
}

/** resetting form INPUT styles */
input {
    font-family: inherit;
    font-size: inherit;
    border: 0;
    box-sizing: border-box;
}

.input-wrap {
    position: relative;
}


input {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.23px;
    border-bottom: 1px solid #8E8E8E;
}

input.form-entry {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 16px;
    margin-bottom: 32px;
    transition:  all .3s linear;
}

.form-entry:not(:placeholder-shown) {
    padding:  25px 0px 4px 16px;
}

label.float {
    position:  absolute;
    top: calc(50% - 10px);
    left:  0;
    opacity:  0;
    transition:  all .3s ease;
    font-size: 12px;
    padding-left: 16px;
}

input:not(:placeholder-shown) + label.float {
    transform:  translateY(-10px);
    opacity:  .7;
}

label.date-time {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.23px;
    padding-right: 53px;
}

input.date-entry {
    display: inline-block;
    width: 80px;
    text-align: center;
}

/** Hide number picker*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* * for FIREFOX */
input[type=number] {
    -moz-appearance:textfield;
}


section.book-footer-wrap {
    color: #ffffff;
    background-color: #111111;
    /* temp postioning*/
    position: relative;
    top: 350px;
}
