* {
	padding: 0;
	margin: 0;
}

button {
	/**resetting button styles */
	border: none;
	font: inherit;
	line-height: normal;
}

body {
	min-width: 1440px;
	margin: 0 auto;
}

header {
	background-image: url(images/homepage/hero-bg-desktop@2x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header-content {
	padding-top: 65px;
	margin-left: 167px;
}

#logo {
    display: inline-block;
    padding-bottom: 153px;
}

#logo img {
    width: 103px;
    height: 40px;
    vertical-align: bottom;
}

.header-content h1 {
	font: 300 64px/1.125 'Spartan', sans-serif;
	color: #ffffff;
	letter-spacing: -0.8px;
	width: 523px;
	padding-bottom: 24px;
	margin-left: -2px;
}

.header-content p {
	font: 400 18px/1.667 'Spartan', sans-serif;
	color: #ffffff;
	letter-spacing: -0.23px;
	width: 445px;
	padding-bottom: 42px;
}

.book {
	width: 245px;
	height: 64px;
	font: 600 14px/1.143 'Spartan', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #111111;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.book.bookpad {
    margin-bottom: 198px;
}

.enjoy {
    position: relative;
    top: -70px;
}

img.top-right {
	position: absolute;
	top: 320px;
}

.enjoy-flex {
    display: flex;
    width: 1122px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

img.enjoypic {
	box-shadow: 0 75px 100px -50px #38435680;
	width: 540px;
	height: 720px;
}

.enjoy-text {
    width: 445px;
    margin-top: 55px;
    margin-right: 7px;
}

.enjoy-text img {
    vertical-align: top;
}

.enjoy-text h2 {
	font: 700 40px/1.4 'Spartan', sans-serif;
	letter-spacing: -0.5px;
	padding: 48px 0 16px;
	color: #242B37;
}

.enjoy-text p {
	font: 400 18px/1.667 'Spartan', sans-serif;
	letter-spacing: -0.23px;
	color: #242B37;
}

.local {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 55px;
    margin-left: 167px;
}

.local-content {
    width: 445px;
    position: relative;
    top: -20px;
}

.local-content img {
    vertical-align: top;
}

.local-content h2 {
	font: 700 40px/1.4 'Spartan', sans-serif;
	letter-spacing: -0.5px;
	color: #242B37;
	padding: 48px 0 16px;
}

.local-content p {
	font: 400 18px/1.667 'Spartan', sans-serif;
	letter-spacing: -0.23px;
	color: #242B37;
}

.localpics {
    display: flex;
    position: relative;
}

img.localpic {
	box-shadow: 0 75px 100px -50px #38435680;
	display: inline-block;
	width: 540px;
    height: 720px;
    z-index: 1;
    flex-shrink: 0;

}

img.top-left {
	width: 907px;
	height: 320px;
	position: absolute;
	bottom: 80px;
	right: 0;
}

.lines {
	position: relative;
	bottom: 362px;
    right: 51px;
    z-index: 1;
    align-self: end;
    flex-shrink: 0;
}

section.highlights {
	position: relative;
	top: -40px;
	background-color: #111111;
}

.highlights-flex {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1122px;
	height: 441px;
	padding: 200px 0 120px;
}

.flex-item-left {
	width: 445px;
}

.flex-item-left img {
    vertical-align: top;
}

.flex-item-left h2 {
	font: 700 40px/1.4 'Spartan', sans-serif;
	letter-spacing: -0.5px;
	color: #ffffff;
	padding: 48px 0 16px;
}

.flex-item-left p {
	font: 400 18px/1.667 'Spartan', sans-serif;
	letter-spacing: -0.23px;
	color: #ffffff;
}

.flex-item-right {
    display: flex;
    flex-direction: column;
	padding-top: 55px;
}

.flex-item-right img {
	display: inline-block;
	width: 128px;
	height: 96px;
	vertical-align: top;
}

img + hr {
	display: inline-block;
	width: 32px;
	vertical-align: top;
	margin-top: 18px;
	color: #9E7F66;
}

.text {
	display: inline-block;
	padding: 4px 0 0 30px;
}

.flex-item-right h3 {
	font: 700 18px/1.556 'Spartan', sans-serif;
	letter-spacing: -0.23px;
	color: #ffffff;
	padding-bottom: 4px;
}

.flex-item-right p {
	width: 350px;
	font: 400 15px/1.867 'Spartan', sans-serif;
	letter-spacing: -0.19px;
    color: #ffffff;
    padding-bottom: 32px;
}

.line {
    color: #ffffff26;
}

.right-nested {
    padding-top: 24px;
}

.slider {
    margin-top: -40px;
    /*position: relative;*/
}

.slider-curve {
    /*position: relative;*/
    left: -350px;
}

.slider-lines {
    /*position: absolute;*/
    left: 125px;
    top: 122px;
}

.slider-content {
    margin: 0 auto;
    width: 1122px;
    height: 600px;
}

.gather {
    width: 540px;
    height: 600px;
    box-shadow: 0 75px 100px -50px #38435680;
}

.slider-text {
    display: inline-block;
    width: 445px;
    height: 288px;
}


.switch {
    width: 313px;
    height: 108px;
}

.switch p {
    font: 600 14px/2 'Spartan', sans-serif;
    letter-spacing: 2px;
    color: #4C4C4C;
}


