* {
	padding: 0;
	margin: 0;
}

body {
	min-width: 1440px;
    /*margin: 0 auto; - don't need because not using width or max-width*/
    font-family: 'Spartan', sans-serif;
}

/** resetting button font style */
button {
    font-family: inherit;
    font-size: 100%;
    border: none;
    line-height: normal;
}

a {
    cursor: pointer;
}

/* HOME PAGE
------------ */

.content-wrap {
    max-width: 1300px;
    width: 77%;
    margin: 0 auto;

}

h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 1.125;
	letter-spacing: -0.8px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
	letter-spacing: -0.5px;
}
/* p styles */
h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: -0.23px;
}

header.home {
	background-image: url(images/homepage/hero-bg-desktop@2x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header-content {
    padding-top: 65px;
    color: #ffffff;
}

#logo {
    display: inline-block;
    padding-bottom: 153px;
}

#logo img {
    width: 103px;
    height: 40px;
    vertical-align: bottom;
}

.home h1 {
	padding-bottom: 24px;
}

.home h6 {
	width: 445px;
	padding-bottom: 42px;
}

button {
	width: 245px;
	height: 64px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.143;
	letter-spacing: 2px;
    text-transform: uppercase;
}

button:hover {
    background-color: #ffffff;
    color: #111111;
    border: 1px solid #111111;
    transition:  all .3s linear;
    cursor: pointer;
}

.book-top {
    margin-bottom: 198px;
    background-color: #111111;
	color: #ffffff;
	border: 1px solid #ffffff;
}

section.enjoy {
    position: relative;
    margin-top: -70px;
}

img.top-right {
	position: absolute;
    top: 320px;
    width: 62.35%;
    height: 320px;
}

.enjoy-flex {
    display: flex;
    justify-content: space-between;
}

.enjoypic {
	box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5);
	width: 540px;
    height: 720px;
}

.enjoy-text {
    width: 445px;
    margin-top: 247px;
	color: #242B37;
}

/* display:block used to get rid of browser whitespace */
.enjoy-text img {
    display: block;
}

.enjoy-text h2 {
	padding: 48px 0 16px;
}

section.local {
    position: relative;
    margin-top: 120px;
}

.local-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.local-text {
    width: 445px;
    margin-top: 200px;
    color: #242B37;
    flex-shrink: 0;
}

.local-text img {
    display: block;
}

.local-text h2 {
	padding: 48px 0 16px;
}

.img-wrap {
    position: relative;
    flex-shrink: 0;
    z-index: 1;
}
.localpic {
	box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.2);
	width: 540px;
    height: 720px;
    display: block;
}

.local-lines {
    position: absolute;
    left: 494px;
    bottom: 362px;
}

img.top-left {
	position: absolute;
	bottom: 80px;
	right: 0;
	width: 62.2%;
    height: 320px;
}

section.highlights {
	position: relative;
	margin-top: -80px;
    background-color: #111111;
    color: #ffffff;
}

.highlights-flex {
	display: flex;
	justify-content: space-between;
	height: 441px;
	padding: 200px 0 120px;
}

.highlights-left {
    width: 445px;
    height: 273px;
}

.highlights-left img {
    display: block;
}

.highlights-left h2 {
	padding: 48px 0 16px;
}

.highlights-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 55px;
    height: 441px;
    /* border-box used to include padding in 441px height */
    box-sizing: border-box;
}

.highlights-right > div {
    display: inline-flex;
    align-items: center;
    width: 540px;
    height: 96px;
}

.highlights-right img {
	width: 128px;
	height: 96px;
}

img + hr {
	width: 32px;
	margin-top: 18px;
    align-self: start;
    border: 0.5px solid #9E7F66;
}

.text {
    width: 350px;
    height: 88px;
    padding-left: 30px;
}

.highlights-right h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.556;
	letter-spacing: -0.23px;
	padding-bottom: 4px;
}

.highlights-right p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.867;
	letter-spacing: -0.19px;
}

.line {
    border: 0.5px solid #ffffff26;
}

section.slider {
    position: relative;
    margin-bottom: 160px;
}

.slider-curve {
    position: absolute;
    left: -350px;
    top: 0;
    width: 62%;
    height: 320px;
}

.slider-flex {
    display: flex;
    justify-content: space-between;
    height: 600px;
    position: relative;
    padding-top: 160px;
}

.gatherpic {
    width: 540px;
    height: 600px;
    box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5);
    display: inline-block;
}

.slider-lines {
    position: absolute;
    left: -40px;
    top: -38px;
    z-index: 1;
}

.slider-text {
    display: inline-flex;
    flex-direction: column;
    width: 445px;
    color: #242B37;
}

.slider-text h2 {
    padding: 63px 0 16px;
}

.slider-text h6 {
    padding-bottom: 32px;
}

.book-slider {
    background-color: #111111;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.switch {
    display: grid;
    width: 313px;
    height: 108px;
    margin-top: 78px;
    grid-template-columns: 1fr 188px;
    align-items: center;
    position: relative;
    left: -130px;
}

hr.tablet {
    display: none;
}

hr.desktop {
    width: 95px;
    border: 0.5px solid #9E7F66;
    align-self: center;
    margin-bottom: 5px;
}

.switch p {
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 2px;
    color: #4C4C4C;
    text-transform: uppercase;
}

p.col-2 {
    grid-column-start: 2;
}
p.col-2-3 {
    grid-column-start: 2;
}

footer {
    background-color: #111111;
    color: #ffffff;
}
.res-wrap {
    background-image: url(images/homepage/ready-bg-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.res-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.book-bottom {
    background-color: #1212122b;
    color: #ffffff;
	border: 1px solid #ffffff;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 78px;
    height: 240px;
    /* set to border-box so 240px height will include 78px padding */
    box-sizing: border-box;
}

footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer p.hours {
    width: 446px;
}

/* BOOKING - PAGE 2
------------------- */

/** Hide number picker*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/** for FIREFOX */
input[type=number] {
    -moz-appearance:textfield;
}

/** resetting form INPUT styles */
input {
    font-family: inherit;
    font-size: inherit;
    border: 0;
    box-sizing: border-box;
}

/* general input styles */
input {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.23px;
}

/** resetting form SELECT styles */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-image: none;
    border: 0;
}

header.booking {
    background-image: url(images/booking/hero-bg-desktop@2x.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.booking-content {
    display: flex;
    justify-content: space-between;
    width: 1122px;
    padding-top: 65px;
    margin: 0 auto;
}

.booking-text h1 {
    width: 419px;
    padding-bottom: 24px;
    color: #ffffff;
}

.booking-text h6 {
    width: 445px;
    color: #ffffff;
}

.booking-form {
    display: inline-block;
    box-sizing: border-box;
    width: 540px;
    height: 545px;
    padding: 48px;
    position: relative;
    top: 193px;
    box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5);
    background-color: #ffffff;
}

.input-wrap, .plus-minus-wrap {
    position: relative;
    margin-bottom: 32px;
}

input.form-entry {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 16px;
    transition:  all .3s linear;
    border-bottom: 1px solid #8E8E8E;
    cursor: pointer;
}

.form-entry:not(:placeholder-shown) {
    padding:  25px 0px 1px 16px;
}

label.float {
    position:  absolute;
    top: calc(50% - 10px);
    left:  0;
    opacity:  0;
    transition:  all .3s ease;
    font-size: 12px;
    padding-left: 16px;
}

input:not(:placeholder-shown) + label.float {
    transform:  translateY(-10px);
    opacity:  .7;
}

label.date-time {
    width: 102px;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.23px;
    padding-right: 53px;
    vertical-align: middle;
}

input.date-entry {
    display: inline-block;
    width: 80px;
    height: 45px;
    text-align: center;
    margin-right: 16px;
    border-bottom: 1px solid #8E8E8E;
    cursor: pointer;
}

select.time-entry {
    display: inline-block;
    width: 80px;
    height: 45px;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.23px;
    color: #11111180;
    text-align: center;
    border-bottom: 1px solid #8E8E8E;
    cursor: pointer;
}

.select-wrap {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 45px;
    margin-right: 17px;

}

.select-wrap::after {
    content: url("images/icons/icon-arrow.svg");
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    padding-left: 15px;
    pointer-events: none;
}

.plus-minus-wrap {
    box-sizing: border-box;
    width: 444px;
    padding: 0 25px;
    border-bottom: 1px solid #8E8E8E;
}

.plus-minus-wrap span {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.minus img {
    vertical-align: middle;
}

.people {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.23px;
    font-weight: 700;
    color: #151515;
}

input.people {
    width: 85%;
    padding-left: 125px;
}

label.people {
    position: absolute;
    right: 178px;
}

button.res {
    width: 100%;
    height: 64px;
    background-color: #111111;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;


}

.book-lines {
    position: relative;
    left: 665px;
    bottom: 80px;
    vertical-align: bottom;
    z-index: -1;
}

.bottom-right {
    position: relative;
    right: 160px;
    vertical-align: bottom;
    z-index: -2;
}

section.book-footer-wrap {
    color: #ffffff;
    background-color: #111111;

}

/* MEDIA QUERIES -- TABLET
(standard iPad for now) -- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    body {
        min-width: 768px;
    }

    /** wrap class set for all sections/containers with same width */
    .content-wrap {
        width: 573px;
        margin: 0 auto;
    }

    h1 {
        font-size: 48px;
        line-height: 1.333;
        letter-spacing: -0.6px;
    }

    header.home {
        background-image: url(images/homepage/hero-bg-tablet@2x.jpg);
        background-size: cover;
        height: 992px;
    }

    .header-content {
        padding-top: 374px;
        text-align: center;
    }

    #logo {
        padding-bottom: 32px;
    }

    .home h6 {
        width: 100%;
        padding-bottom: 24px;
    }

    .book-top {
        margin: 0;
    }

    section.enjoy {
        position: static;
        margin-top: -96px;
        margin-bottom: 120px;
    }

    img.top-right {
        top: 1092px;
        left: -517px;
        width: 895px;
    }

    .enjoy-flex {
        height: 673px;
        flex-direction: column;
        align-items: center;
    }

    .enjoypic {
        width: 573px;
        height: 360px;
    }

    .enjoy-text {
        width: 457px;
        height: 257px;
        text-align: center;
        margin: 0;
    }

    /*margin set to center the img */
    .enjoy-text img {
        margin: 0 auto;
    }

    .enjoy-text h2 {
        padding: 34px 0 16px;
    }

    section.local {
        position: static;
        margin-bottom: 120px;
    }

    .local-flex {
        flex-direction: column-reverse;
        align-items: center;
        height: 673px;
    }

    .localpic {
        width: 573px;
        height: 360px;
    }

    .local-text {
        width: 457px;
        height: 257px;
        text-align: center;
        margin: 0;

    }

    /*margin set to center the img */
    .local-text img {
        margin: 0 auto;
    }

    .local-text h2 {
        padding: 34px 0 16px;
    }

    img.top-left {
        width: 895px;
        top: 2162px;
        left: 384px;
    }

    .local-lines {
        left: 471px;
        bottom: 56px;
    }

    section.highlights {
        position: static;
        margin-bottom: 120px;
        margin-top: 0;
    }

    .highlights-flex {
        flex-direction: column;
        align-items: center;
        padding: 96px 0;
        height: 699px;
    }

    .highlights-left {
        text-align: center;
    }

    .highlights-left img {
        margin: 0 auto;
    }

    .highlights-left h2 {
        padding: 34px 0 16px;
    }

    .highlights-right {
        padding: 0;
        height: 386px;
    }
    .text {
        padding: 4px 0 0 28px;
    }
    .highlights-right p {
        width: 383px;
        padding-bottom: 28px;
    }

    section.slider {
        position: static;
        margin-top: 0;
        margin-bottom: 120px;
    }

    .slider-curve {
        position: absolute;
        top: 3373px;
        left: -517px;
        width: 895px;
    }

    .slider-lines {
        left: -58px;
    }

    .slider-flex {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 689px;
        height: 781px;
        margin: 0 auto;
        position: static;
        padding: 0;
    }

    .gatherpic {
        width: 573px;
        height: 360px;
    }

    .slider-text {
        flex-direction: column-reverse;
        align-items: center;
        width: 689px;
        margin: 0;
        text-align: center;
    }

    .gather-text {
        width: 457px;
    }
    .slider-text h2 {
        padding: 40px 0 16px;
    }

    .switch {
        position: static;
        width: 689px;
        height: 37px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 223px);
        grid-template-rows: 28px 1fr;
        gap: 8px 10px;
        justify-items: center;

    }

    hr.desktop {
        display: none;
    }

    hr.tablet {
        display: block;
        border: 0.5px solid #9E7F66;
        width: 48px;
        margin-bottom: 0;
        grid-row-start: 2;
    }

    .switch p {
        width: 223px;
        text-align: center;
    }

    p.col-2-3 {
        grid-column-start: 3;
    }

    .res-wrap {
        background-image: url(images/homepage/ready-bg-tablet.jpg);
        height: 272px;
    }

    .res-text {
        flex-direction: column;
        width: 638px;
        height: 143px;
        padding: 64px 0;
    }

    .footer-wrap {
        width: 689px;
        height: 328px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 64px 0;
        margin: 0 auto;
    }

    .footer-wrap a {
        align-self: flex-start;
    }

    .footer-wrap a > img {
        display: block;
    }

    footer p.contact {
        width: 456px;
        align-self: flex-end;
        margin-top: -40px;
        padding-bottom: 32px;
    }

    footer p.hours {
        width: 456px;
        align-self: flex-end;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {

    body {
        min-width: 375px;
    }

    .content-wrap {
        width: 327px;
        margin: 0 auto;
    }

    h1 {
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: -0.4px;
    }

    header.home {
        background-image: url(images/homepage/hero-bg-mobile@2x.jpg);
        background-size: cover;
        height: 748px;
    }

    .header-content {
        padding-top: 232px;
        text-align: center;
    }

    #logo {
        padding-bottom: 32px;
    }

    #logo img {
        width: 82.4px;
        height: 32px;
    }

    .home h6 {
        width: 100%;
        padding-bottom: 32px;
        font-size: 15px;
        letter-spacing: -0.19px;

    }

    .book-top {
        margin: 0;
    }

    section.enjoy {
        position: static;
        margin-top: -72px;
        margin-bottom: 80px;
    }

    img.top-right {
        display: none;
    }

    .enjoy-flex {
        height: 683px;
        flex-direction: column;
        align-items: center;
    }

    .enjoypic {
        width: 327px;
        height: 400px;
    }

    .enjoy-text {
        width: 327px;
        height: 235px;
        text-align: center;
        margin: 0;
    }

    .enjoy-text img {
        margin: 0 auto;
    }

    .enjoy-text h2 {
        font-size: 32px;
        letter-spacing: -0.4px;
        line-height: 1.25;
    }

    .enjoy-text h6 {
        font-size: 15px;
        letter-spacing: -0.19px;
        line-height: 1.667;
    }

    section.local {
        position: static;
        margin-bottom: 80px;
    }

    .local-flex {
        height: 683px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .localpic {
        width: 327px;
        height: 400px;
    }

    .local-text {
        width: 327px;
        height: 235px;
        text-align: center;
        margin: 0;
    }

    /*margin set to center the img */
    .local-text img {
        margin: 0 auto;
    }

    .local-lines {
        display: none;
    }

    section.highlights {
        position: static;
        margin-bottom: 80px;
        margin-top: 0;
    }







}
